<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesur Collector</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>CesurCollector</h1>
            <nav>
                <ul>
                    <li>
                        <input type="text" placeholder="Correo electrónico">
                    </li>
                    <li>
                        <input type="password" placeholder="Contraseña">
                    </li>
                    <li>
                        <button>Iniciar sesión</button>
                    </li>
                    <li>
                        <button>Cerrar</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-content">
                    <h2>Entra en tu colección</h2>
                    <button>Registrate</button>
                </div>
            </div>
        </section>
        <section class="games">
            <div class="container">
                <h2>Juegos más populares</h2>
                <div class="games-grid">
                    <div class="game-card">
                        <img src="https://picsum.photos/400?1" alt="Juego 1">
                        <div class="game-card-content">
                            <h3>Juego 1</h3>
                        </div>
                    </div>
                    <div class="game-card">
                        <img src="https://picsum.photos/400?2" alt="Juego 2">
                        <div class="game-card-content">
                            <h3>Juego 2</h3>
                        </div>
                    </div>
                    <div class="game-card">
                        <img src="https://picsum.photos/400?3" alt="Juego 3">
                        <div class="game-card-content">
                            <h3>Juego 3</h3>
                    </div>
                    </div>
                    <div class="game-card">
                        <img src="https://picsum.photos/400?4" alt="Juego 4">
                        <div class="game-card-content">
                            <h3>Juego 4</h3>
                        </div>
                    </div>
                    <div class="game-card">
                        <img src="https://picsum.photos/400?5" alt="Juego 5">
                        <div class="game-card-content">
                            <h3>Juego 5</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>2024 | Álvaro Cozano Pérez | Ciclo: DAW</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>